
body#dummybodyid {
  font-size:16px;
}


.jumbotron {
  padding-top:0;
  padding-bottom:0;
  margin-bottom:0;
  margin-top:0;
}

.jumbotron jumbotron-fluid {
  padding-top:0;
  padding-bottom:0;
  margin-bottom:0;
  margin-top:0;
}
ul.nav.navbar-nav {
  font-size:18px;
}

.leaflet-container {
  background-color: white !important;
}

input[type="number"] {
  max-width: 80%;
}


h1, h2, h3, h4 { 
  font-family: Impact, Charcoal, sans-serif;
  font-weight: 300; }

